* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

:root {
  --background1: rgb(236, 236, 236);
  --leftspacing: 4rem;
}

.container {
  display: flex;
  height: 100vh;
}

.image-container img {
  height: 100vh;
  max-width: 35vw;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}

p {
  padding-left: var(--leftspacing);
  padding-right: 150px;
}

.information-container {
  background-color: var(--background1);
  height: 30vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 35px;
}

.form-container {
  background-color: white;
  height: 40vh;
}

.link-container {
  background-color: var(--background1);
  height: 30vh;
}
