* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

:root {
  --background1: #191312;
  --background2: #352723;
  --leftspacing: 4rem;
  --textcolor: white;
}

.container {
  display: flex;
  height: 100vh;
}

/* Left side */

.image-container {
  display: flex;
  /*Photo by <a href="https://unsplash.com/@danesduet?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Daniel Olah</a> on <a href="https://unsplash.com/photos/roadway-in-the-middle-of-rocky-mountains-ZbEURDlbE6o?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
  background-image: url(./images/windingroad.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 35vw;
}

.logo {
  display: flex;
  color: var(--textcolor);
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.55);
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

/* Right side */

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65vw;
  height: 100vh;
}

p {
  padding-left: var(--leftspacing);
  padding-right: 10vw;
}

.information-container {
  background-color: var(--background1);
  height: 30vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 35px;
  color: var(--textcolor);
}

.form-container {
  background-color: var(--background2);
  height: 40vh;
  padding-left: var(--leftspacing);
}

.form-container h2 {
  padding-top: 20px;
  color: var(--textcolor);
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.input {
  padding: 10px 8vw 10px 0px;
}

input {
  width: 20vw;
  height: 30px;
  border: 2px solid white;
}

input:focus {
  background-color: #558193;
}

input:valid {
  border-color: green;
}

label {
  color: var(--textcolor);
}

input,
label {
  display: block;
}

.link-container {
  background-color: var(--background1);
  height: 30vh;
  color: var(--textcolor);
}

.link-container button {
  margin: 30px 0px 30px var(--leftspacing);
  padding: 10px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  color: var(--textcolor);
  background-color: #558193;
  cursor: pointer;
}

a {
  color: #558193;
  text-decoration: none;
}
