* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

:root {
  --background1: #a6a1a7;
  --leftspacing: 4rem;
}

.container {
  display: flex;
  height: 100vh;
}

.image-container {
  display: flex;
  background-image: url(./images/wintersnow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 35vw;
}

.logo {
  display: flex;
  color: white;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65vw;
  height: 100vh;
}

p {
  padding-left: var(--leftspacing);
  padding-right: 150px;
}

.information-container {
  background-color: var(--background1);
  height: 30vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 35px;
  color: white;
}

.form-container {
  background-color: rgb(235, 233, 233);
  height: 40vh;
}

.link-container {
  background-color: var(--background1);
  height: 30vh;
}
